extends layout

block content
  h1 File Details
  p Name: #{name}
  p Size: #{size}B
  p Upload Date: #{uploadDate}
    br
  button
    a(href=`${fileUrl}`) Download 
  br
  a(href=`/?id=${folderId}`) Return 
    br
