extends layout

block content
  if action==='create'
    h1 New folder inside #{parentFolderName} 
  if action==='rename'
    h1 Rename #{parentFolderName} 
  if errors
    each error, i in errors
      div(class='alert alert-danger') #{error.msg}

  form(action=`/folder/${action}?parentFolderId=${parentFolderId}` method="POST" ) 
      label(for="name") Folder name:
      input(type="text" name="name" id="name" required) 
      br.spacer
      button(type='submit') Submit

